html {
  scroll-behavior: smooth;
}
body {
  margin:0;
  font-family: "Space Grotesk", sans-serif;
}

/*Products*/
.product {
  width: 500px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h2 {
  margin-top: 0.5em;
  font-size: 1.8em;
}

.product-price {
  font-weight:bolder;
  color: green;
  font-size: 21px;
}

.product button {
  background-color: #466369ff;
  color: white;
  border: none;
  padding: 20px 50px;
  cursor: pointer;
  font-size: 27px;
  font-weight: 800;
  border-radius: 10px;
}

.product button:hover {
  background-color: rgb(81, 121, 129);
}